$background-Color: lighten(white, 10%);
$Font: Arial, Helvetica, sans-serif;
$primaryColor: blue;
$primaryFontColor: white;
$secondaryColor: orange;
$pageColor:#00284d;
$servicePageColor:lightgrey;



@mixin bgImage(){
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


